body
{
    background-color: #8064f3;
}

#title
{
    text-align: center;
    color: #FFF;
}

#myTitle
{
    text-align: center;
    color: #FFF;
}

p
{
    color: #FFF;
    text-align: center;
    font-size: 5em;
}

noscript
{
    height: 300px;
    width: 500px;
    border: solid 1px white;
    text-align: center;
    color: #FFF;
    font-size: 3em;
}